@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
   background-color: #fff;
   color: #3D0301;
   font-family: "Cabin", sans-serif;
   font-weight: 400;
}

header {
   padding: 2rem;
   background-color: #B03052;
   text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color:#3D0301;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #D76C82;
}

input[type="text"],input[type="password"],input[type="date"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #D76C82;
    outline: none;
    border-radius: 5px ;
    background-color: transparent;
}

input::palceholder {
    color: #CBBBA7;
}

select {
    cursor: pointer;
    background-color: #D76C82;
    color:#3D0301;
    border-radius: 5px;
    border: none;
    outline: none;
}

img {
    width: 5rem;
    border-radius: 5rem ;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #D76C82;
    color:#331f19;
    padding: 1rem;
}

td {
   color: #3D0301;
   padding: 1rem;
   text-align: center ;
}

tfoot td{
   background-color: #3D0301;
   color:#F4F0EA
}

details {
    background-color: #D76C82;
    border-radius: 5px;
    padding: 1rem;
}

summary{
    color:#331f19;
    margin: 0.5rem;
    cursor: pointer;
}

ol {
    margin-left: 1.5rem;
}

ol li {
    padding: 0.2rem;
}

fieldset {
    border: 2px solid #D76C82;
    border-radius: 5px;
    padding: 1rem;
}

legend{
    color: #331f19;
    padding: 0 0.5rem;
}

textarea{
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 2px solid #D76C82;
}

button {
    background-color: #D76C82;
    border : none;
    padding: 0.8rem;
    color:#331f19;
    border-radius: 5px;
    cursor: pointer;
}